body {
    margin : 0px;
}

a {
    text-decoration: none;

    display: inline-block;
    cursor: pointer;
    font-size: 3rem;
    padding: .25em 1em;
    border: .125em solid currentColor;
    border-radius: .25em;
}

.top {

    padding:10px;
    border: 10px solid black;
    width: 400px;
    aspect-ratio: 1;

}

.row {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
}

.block {
    flex: 1 1 0;
    border: 1px solid grey;
    aspect-ratio: 1;
}

.black {
    background-color: black;
}